{% extends 'main/base.html' %}

{% block title %} Dashboard {% endblock %}

{% block content %} 
    {% for item in guilds %}
        {% if item.guildid in botsguilds%}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{item.name}}</h5>
                    <button type="button" class="btn btn-primary"><a href="/changeprivileges/{{item.guildid}}">Customize</a></button>
                </div>
            </div>
        {% else %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{item.name}}</h5>
                    <button type="button" class="btn btn-primary"><a href="{{discord_addbot}}" target="_blank">Setup</a></button>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}