{% extends 'main/base.html' %}

{% block title %} Hazzahs Bot {% endblock %}

{% block content %} 
  <style>
  a:link {
      text-decoration: none;
      color: black;
  }

  a:visited {
      text-decoration: none;
      color: black;
  }

  a:hover {
      text-decoration: none;
      color: black;
  }

  a:active {
      text-decoration: none;
      color: black;
  }

  .dropdown-toggle:after {
  display: none;
  }
  .hidemobile { display: block !important; }
  .onlymobile { display: none !important; }

  .extendedmargins { margin: 50px 50px 50px 50px;}

  @media screen and (max-width: 575px) {
      .btn-outline-primary {
          margin-bottom: 15px;
      }
      .homesearchbutton {
          width: 80%
      }
      .extendedmargins { margin: 0px 0px 0px 0px; }
  }
  
  @media screen and (max-width: 925px) {
      .hidemobile { display: none !important; }
      .onlymobile { display: block !important; }
  }
</style>
<div class="container">
    <div class="row header">
        <div class="col-sm-6 name">
        <p>HAZZAH'S <br/>DISCORD <br/>BOT <br/>
            <button class="btn btn-primary">Add to Discord</button>
            <button class="btn btn-primary">See Features</button>
        </p>
        
        </div>
            <div class="col-sm-6 description">
            <div class="oneLiner">With</div>
            <div class="words"><span>Configure Moderation</span><span>leveling, Twitch alerts</span><span>Music for your server</span><span>Self Assign Roles</span><span>Levels and XP</span></div>
        </div>
    </div>
</div>

{% endblock %}